[Desktop Entry]
Type=Application
Version=1.0
Name=Services Information
GenericName=Service Manager
Comment=List and manage systemd services
Exec=sinfo
Icon=sinfo
Terminal=false
Categories=System;GTK;
Keywords=services;systemd;daemon;manage;start;stop;enable;disable;mask;
StartupNotify=true
StartupWMClass=org.effjy.sinfo
